.root {
  --primary: #b8434b;
  --gray: #4e4e4e;
  --dark-gray: #2b2b2b;
}

.sort_bar, .filter_bar {
  display: flex;
}

.sort_button, .sort_label, .filter_label, .filter_button {
  margin: 5px;
  border: transparent;
  background-color: transparent;
  color: white;
}

.sort_button_clicked, .filter_button_clicked {
  margin: 5px;
  color: black;
  background-color: #b8434b;
  border-radius: 10px;
  border: 2px solid transparent;
}

.home-wrapper {
  background-color: #2b2b2b;
  height: 90%;
  white-space: nowrap;
  height: 100%;
}

html, body, #root {
  margin: 0;
  height: 100%;
}