@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-Regular.ttf");
}

.root {
  --primary: #b8434b;
  --gray: #4e4e4e;
  --dark-gray: #2b2b2b;
}

body {
  background-color: #2b2b2b;
  font-family: "Poppins";
}

.sort_bar, .filter_bar {
  display: flex;
}

.sort_button, .sort_label, .filter_label, .filter_button {
  margin: 5px;
  border: transparent;
  background-color: transparent;
  color: white;
}

.sort_button_clicked, .filter_button_clicked, .genre_button_odd {
  margin: 5px;
  color: black;
  background-color: #b8434b;
  border-radius: 10px;
  border: 2px solid transparent;
}

.genre_button_even {
  margin: 5px;
  color: black;
  background-color: #a6ff61;
  border-radius: 10px;
  border: 2px solid transparent;
}

.listcard {
  display: flex;
}

.listcard_image {
  width: 20%;
  height: 90%
  
}

.home-wrapper {
  background-color: #2b2b2b;
  width: 100%;
  white-space: nowrap;
  height: 100%;
  display: block;
}

button[type="submit"]:disabled {
  border: 1px solid gray;
  background-color: #262626;
  color: dimgray;
}

#root {
  height: 100%;
}
html, body {
  margin: 0;
  height: 100%;
}

#logo {
  position: absolute;
  font-size: 34px;
  color: #B8434B;
  width: 10%;
  text-align: center;
}

#popular {
  position: absolute;
  font-size: 20px;
  color: white;
  text-align: center;
  width: 6%;
  left: 14%;
  top: 1%;
}

#genres {
  position: absolute;
  font-size: 20px;
  color: white;
  text-align: center;
  width: 6%;
  left: 25%;
  top: 1%;
}

#content-selector {
  position: relative;
  background-color: #4E4E4E;
  display: flex;
  width: 24%;
  min-width: 150px;
  max-width: 10vw;
  height: 3vh;
  border-radius: 15px;
  left: 20%;
}

#comic-selector {
  position: relative;
  color: white;
  font-size: 20px;
  width: 50%;
  text-align: center;
  justify-content: center;
  left: 15%;
}

#story-selector {
  position: relative;
  color: white;
  width: 50%;
  font-size: 20px;
  text-align: center;
  left: 20%
}







.list_card_title {
  font-size: 25px;
}

.list_card_author {
  font-size: 15px;
}

.list_card_description {
  font-size: 15px;
}