@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-Regular.ttf");
}

.root {
  --primary: #b8434b;
  --gray: #4e4e4e;
  --dark-gray: #2b2b2b;
}

body {
  background-color: #2b2b2b;
  font-family: "Poppins";
}

.sort_button, .sort_label, .filter_label, .filter_button {
  margin: 5px;
  border: transparent;
  background-color: transparent;
  color: white;
  font-size: 15px;
}

.sort_button, .filter_button {
  border-radius: 5px;
  cursor: pointer;
}

.sort_button:hover, .filter_button:hover {
  background-color: #3d3d3d;
}

.sort_button_clicked, .filter_button_clicked, .genre_button_odd {
  margin: 5px;
  color: black;
  background-color: #b8434b;
  border-radius: 5px;
  border: 0px solid transparent;
  cursor: pointer;
}

.sort_button_clicked, .filter_button_clicked {
  font-size: 15px;
}

.genre_button_even {
  margin: 5px;
  color: black;
  background-color: #a6ff61;
  border-radius: 5px;
  border: 0px solid transparent;
}

button[type="submit"]:disabled {
  border: 1px solid gray;
  background-color: #262626;
  color: dimgray;
}

form i {
  margin-left: -30px;
  cursor: pointer;
}

#root {
  height: 100%;
}
html, body {
  margin: 0;
  height: 100%;
}

#logo {
  position: absolute;
  font-size: 34px;
  color: #B8434B;
  width: 10%;
  text-align: center;
}

#popular {
  position: absolute;
  font-size: 20px;
  color: white;
  text-align: center;
  width: 6%;
  left: 14%;
  top: 1%;
}

#genres {
  position: absolute;
  font-size: 20px;
  color: white;
  text-align: center;
  width: 6%;
  left: 25%;
  top: 1%;
}

#content-selector {
  position: relative;
  background-color: #4E4E4E;
  display: flex;
  width: 24%;
  min-width: 150px;
  max-width: 10vw;
  height: 32px;
  border-radius: 15px;
  left: 20%;
  cursor: pointer;
}

#comic-selector {
  position: relative;
  color: white;
  font-size: 15px;
  width: 50%;
  text-align: center;
  justify-content: center;
  left: 15%;
  top: 15%;
}

#story-selector {
  position: relative;
  color: white;
  width: 50%;
  font-size: 15px;
  text-align: center;
  left: 20%;
  top: 15%;
}

#bookmarks-title {
  position: relative;
  font-size: 30pt;
  color: white;
  display: flex;
  text-align: center;
}

.search_list {
  width: 75%;
  margin-left: 12.5%;
  margin-top: 1%;
  display: block;
  padding: 25px 0px 0px 0px;
}

#genre_bar, #sort_bar {
  display: flex;
}

#genre_bar {
  padding-bottom: 0px;
}

#comic_list {
  columns: 2;
  padding: 0;
}

.comic_item {
  list-style-type: none;
  padding: 5px 5px 5px 0px;
}

.listcard {
  color: white;
  background-color: #2d2d2d;
  display: flex;
  border: 1px solid;
  border-radius: 4px;
  border-color: #3d3d3d;
  padding: 5px 5px 5px 5px;
}

.listcard_image {
  width: 135px;
  height: 200px;
  cursor: pointer;
}

.list_card_title {
  font-size: 25px;
  cursor: pointer;
}

.list_card_author {
  font-size: 14px;
  padding-bottom: 6px;
  cursor: pointer;
}

.list_card_description {
  font-size: 15px;
}




/* upload work */

#upload_work {
  display: block;
  padding-left: 28%;
  padding-top: 100px;
  width: 72%;
  text-transform: capitalize;
}

#upload_work_label {
  font-size: 25px;
  color: white;
  height: 50px;
  text-transform: capitalize;
}

#upload_work_inputs {
  width: 100%;
  display: flex;
}

#upload_work_parameters {
  width: 10%;
  margin-left: 25px;
  color: white;
}

#upload_work_fields {
  width: 80%;
  display: block;
  color: white;
}

#upload_work_name_label {
  margin-top: 2px;
  height: 50px
}

#upload_work_image_label {
  height: 50px;
}

#upload_work_tags_label {
  height: 70px;
}

#upload_work_name {
  height: 25px;
  margin-bottom: 22px;
  width: 700px;
  background-color: #4E4E4E;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 15px;
  padding-left: 5px;
}

#upload_work_description {
  height: 100px;
  margin-bottom: 22px;
  width: 700px;
  background-color: #4E4E4E;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 15px;
  padding-left: 5px;
}

#upload_work_image {
  display: none;
}

#uploaded_work_image_label {
  padding: 3px 15px 3px 15px;
  height: 25px;
  background-color: #9c4247;
  border: none;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 20px;
  cursor: pointer;
}

#uploaded_work_image_label:hover {
  background-color: #b8434b;
}

#uploaded_work_image_label_label {
  margin-left: 10px;
}

#tags {
  height: 75px;
  width: 700px;
}

.tag_button {
  font-size: 15px;
  margin: 5px 10px 5px 0px;
  color: white;
  background-color: #9c4247;
  border-radius: 5px;
  border: 0px solid transparent;
  cursor: pointer;
}

.tag_button:hover {
  background-color: #b8434b;
}

.tag_button_unselected {
  font-size: 15px;
  margin: 5px 10px 5px 0px;
  color: white;
  background-color: #4e4e4e;
  border-radius: 5px;
  border: 0px solid transparent;
}

#terms_checkbox {
  margin-bottom: 15px;
}

#terms_label {
  margin: 0px 0px 5px 5px;
  text-transform: capitalize;
}

#upload_button {
  padding: 3px 25px 3px 23px;
  height: 30px;
  background-color: #9c4247;
  border: none;
  border-radius: 4px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 4px;
  color: white;
  font-family: 'Poppins';
  font-size: 16px;
  cursor: pointer;
}

#upload_button:hover {
  background-color: #b8434b;
}



/* upload chapter */

#upload_chapter_name {
  height: 25px;
  margin-bottom: 22px;
  width: 700px;
  background-color: #4E4E4E;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 15px;
  padding-left: 5px;
}

#upload_chapter {
  display: none;
}

#uploaded_chapter_label {
  padding: 3px 15px 3px 15px;
  height: 25px;
  background-color: #9c4247;
  border: none;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 20px;
  cursor: pointer;
}

#uploaded_chapter_label:hover {
  background-color: #b8434b;
}

#uploaded_chapter_label_label {
  margin-left: 10px;
}



/* Misc. */

.image-contain {
  width: 180px;
  height: 290px;
}

.cover-image {
  width: 256px;
  height: 351px;
}

.chapter-contain {
  max-height: 90%;
  max-width: 100%;
}

.edit_image {
  height: 100%;
  max-width: 100%;
}

#divider {
  background-color: #4e4e4e;
}

#button, #work_button, #comic_button {
  background-color: #9c4247;
}
  
#button:hover, #work_button:hover, #comic_button:hover {
  background-color: #b8434b;
}
  
#text_button {
  color: #9c4247;
}

#text_button_background {
  color: #9c4247;
  background-color: #3d3d3d;
}

#insert_panel_modal {
  width: 400px;
  background-color: #3d3d3d;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  padding: 16px;
}

#modal_title {
  color: white;
  font-size: 1.5em;
  margin-bottom: 20px;
}

#modal_filename {
  color: white;
  margin-top: 16px;
  margin-bottom: 32px;
  margin-left: 2px;
}

#cancel_button {
  color: white;
  position: relative;
  left: 3%;
}



/* HomeScreen */

#home_grid_container {
  height: 30vh;
  min-height: 400px;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#home_image_container {
  background-color: #3d3d3d;
  width: 60%;
  min-width: 1780px;
  border-radius: 6px;
  display: flex;
  justify-content: space-evenly;
  vertical-align: center;
}

#home_image_selector {
  background-color: transparent;
  position: relative;
}

#latest_updates_title_container {
  height: 5vh;
  display: flex;
  justify-content: center;
}

#latest_updates_title {
  color: white;
  font-family: "Poppins";
  font-size: 1.5em;
}

#latest_updates_grid_container {
  max-height: 50vh;
  display: flex;
  justify-content: center;
}

#latest_updates_box_container {
  position: relative;
  width: 80%;
  max-width: 1780px;
  height: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid;
  border-color: #4e4e4e;
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#latest_updates_list {
  width: 100%;
  height: 100%;
  columns: 2;
}

#latest_updates_card {
  height: 36px;
}

#latest_updates_even, #latest_updates_odd {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 1px;
}

#latest_updates_even {
  background-color: #2d2d2d;
}

#home_button {
  color: white;
}



/* ProfileScreen */

#profile_box {
  padding-top: 80px;
  flex-direction: column;
}

#profile_works_border {
  border: 1px solid;
  border-color: #4e4e4e;
}

#profile_works_list {
  width: 100%;
  max-height: 25vh;
  overflow-y: scroll;
}

#profile_image {
  position: relative;
  top: 15%;
  color: #4e4e4e;
  font-size: 20em;
}

#profile_works_card {
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  border-radius: 1px;
}

#profile_name, #profile_status, #profile_uploaded_title_container, #profile_drafts_title_container {
  display: flex;
  vertical-align: center;
}

#profile_name {
  padding-top: 114px;
}

#profile_name_text {
  color: white;
  font-size: 2.7em;
}

#profile_status_text {
  color: white;
  font-size: .9em;
}

#profile_uploaded_title_container {
  padding-top: 48px;
  padding-bottom: 8px;
}

#profile_drafts_title_container {
  padding-top: 16px;
  padding-bottom: 8px;
}
  
#profile_works_title {
  color: white;
  font-size: 1.5em;
}

.profile_centered {
  display: flex;
  justify-content: center;
}




/* ComicScreen */

.comic_centered {
  display: flex;
  justify-content: center;
}

#comic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
}

#comic_grid {
  width: 2500px;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  padding-bottom: 64px;
}

#comic_info_grid {
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
}

#comic_cover_box {
  width: 300px;
  height: 440px;
  border: 1px solid;
  border-color: #4e4e4e;
}

#comic_cover {
  width: 300px;
  height: 440px;
}

#comic_name {
  position: relative;
  left: -5px;
  color: white;
  font-size: 3em;
}

#comic_creator_name {
  color: white;
  font-size: 1.2em;
  margin-bottom: 60px;
}

#comic_info {
  color: white;
}

#comic_button {
  min-width: 200px;
  max-width: 8vw;
  height: 38px;
}

#comic_buttons, #comic_chapter_buttons {
  display: flex;
  justify-content: space-between;
}

#comic_buttons {
  margin: 40px 0px 20px 0px;
}

#comic_chapter_buttons {
  position: relative;
  left: 1%;
}

#comic_description_box {
  width: 70%;
  height: 137px;
}

#comic_chapter_grid {
  width: 1590px;
  max-width: 80vw;
  display: flex;
  align-items: center;
}

#comic_chapters_box {
  width: 100%;
  height: 100%;
  max-height: 50vh;
  overflow-y: scroll;
}

#comic_chapter {
  width: 100%;
  display: flex;
  align-items: flex-start;
  vertical-align: center;
  border: 1px solid;
  border-color: #3d3d3d;
  padding: 8px;
}

#comic_chapter_name {
  color: white;
  flex-grow: .94;
  font-size: 1em;
}

#comic_chapter_date {
  color: white;
  flex-grow: .06;
  font-size: .8em;
}



/* ChapterScreen */

#chapter_centered, #chapter_grid_centered {
  display: flex;
  justify-content: center;
}

#chapter_grid_centered {
  align-items: center;
  vertical-align: center;
}



/* ComicEditor */

.edit_chapter_centered {
  display: flex;
  justify-content: center;
}

#edit_container {
  flex-direction: column;
  align-items: center;
}

#edit_slides {
  height: 91vh;
  overflow-y: scroll;
}

#edit_slides_container, #edit_slides_list, #edit_toolbar, #edit_currentpage {
  width: 100%;
  height: 100%;
}

#edit_slides_container {
  align-items: center;
}

#edit_image_container {
  width: 100%;
  height: 40vh;
}

#edit_toolbar {
  border: 1px solid;
  border-color: #4e4e4e;
}

#edit_toolbar_buttons {
  height: 48px;
  background-color: #4e4e4e;
  display: flex;
  vertical-align: center;
}

#edit_display_grid {
  height: 88vh;
  align-items: center;
}

#edit_image_panel {
  border: 1px solid;
  border-color: transparent;
  cursor: pointer;
}

#edit_image_container {
  width: 97.5%;
  height: 95%;
}

#edit_currentpage {
  align-items: center;
  border-top: 1px solid;
  border-color: #4e4e4e;
}



/* Quill */

#story-editor {
  width: 90%;
  height: 80vh;
  position: relative;
  margin: auto;
  background-color: white;
}

#story_creator {
  width: 60%;
  height: 40vh;
}

.ql-toolbar .ql-picker {
    color: #fff;
}

#stage-container, #stage-container-wrapper {
  width: 100%;
  height: 100%;
}

/* Misc */

#testing {
  font-size: 25px;
  color: white;
  height: 50px;
  margin-left: 100px;
}